[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fixturefilehandler = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
radon = "*"

[packages]
# To use treat long path
pywin32 = "*"
# To read yaml file as config
yamldataclassconfig = "*"

[requires]
python_version = "3.8"

[scripts]
back_up = "python back_up.py"
restore = "python restore.py"
test = "cd tests && pytest"
coverage = "cd tests && pytest --verbose --cov=backupwordpress --cov-report=term-missing"
flake8 = "flake8 --max-line-length=120 --statistics --show-source --radon-show-closures ."
cc = "radon cc --show-complexity --min B ."
mi = "radon mi --show ."
